<!doctype html>
<title>Exercice1</title>
<h1>Titre de Niveau 1<h1>
<h2>Titre de Niveau 2</h2>
<h3>Titre de Niveau 3</h3>
<h2>Titre de Niveau 2</h2>
<h1>Titre de Niveau 1<h1>

<h3>Texte en <b>gras</b>, texte en <i>italique</i>, texte <u>souligné</u><h3>

<h3><a href="actualite">Lien vers l'actualité</a></h3>

<h3><a href="mailto:gpastore2@free.fr">Écrivez-moi à gpastore2@free.fr</a></h3>

<h3>Liste des items :</h3>
<ol>
  <li>item 1</li>
  <li>item 2
      <ul>
          <li>element 1</li>
          <li>element 2</li>
       </ul>
  </li>
  <li>item 3</li>
</ol>
