<html>
<head>
<script>
function affichage(imageId) {
    // Cacher toutes les images
    document.getElementById('DioMeme').style.display = "none";
    document.getElementById('JotaroMeme').style.display = "none";
    document.getElementById('NuggetMeme').style.display = "none";

    // Afficher l'image spécifique
    document.getElementById(imageId).style.display = "block";
}
</script>
<style>
  /* Alignement des boutons et mise en page des images */
  .button-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }

  .image-container img {
      display: none; /* Images cachées par défaut */
      max-width: 300px; /* Taille maximale des images */
  }
</style>
</head>
<body>
<h1>Mes outils</h1>
<hr/>

<h2>Afficher les images</h2>
<div class="button-container">
    <button onclick="affichage('DioMeme')">Afficher DioMeme</button>
    <button onclick="affichage('JotaroMeme')">Afficher JotaroMeme</button>
    <button onclick="affichage('NuggetMeme')">Afficher NuggetMeme</button>
</div>

<hr/>

<div class="image-container">
    <img id="DioMeme" src="{{ url_for('static', filename='images/DioMeme.jpg') }}" alt="Dio Meme">
    <img id="JotaroMeme" src="{{ url_for('static', filename='images/JotaroMeme.jpg') }}" alt="Jotaro Meme">
    <img id="NuggetMeme" src="{{ url_for('static', filename='images/NuggetMeme.png') }}" alt="Nugget Meme">
</div>

</body>
</html>
